<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalogo</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    
    <header>
        <div class="logo">
            <h2>Poyo poyo shop</h2>
        </div>
        <nav>
            <ul>
                <a href="#inicio">Inicio</a>
                <a href="#destacados">Destacados</a>
                <a href="#productos">Catálogo</a>
                <a href="#contacto">Contacto</a>
            </ul>
        </nav>
    </header>


    <section id="Catalogo" class="seccion-carrusel">
        <h2>Catalogo</h2>
        
        <div class="carrusel-wrapper">
            <div class="carrusel">
                <div class="tarjeta-carrusel">
                    <img src="adorno de cargador.jpeg">
                    <h3>cargadorpoyo</h3>
                    <p class="precio">$50 MXN</p>
                    <button class="btn-card">Añadir al Carrito</button>
                </div>

                <div class="tarjeta-carrusel">
                    <img src="audifonos poyo.jpeg">
                    <h3>Audifonospoyo</h3>
                    <p class="precio">$300 MXN</p>
                    <button class="btn-card">Añadir al Carrito</button>
                </div>

                <div class="tarjeta-carrusel">
                    <img src="funda de audifonos.jpeg" alt="Ventilador poyito">
                    <h3>fundita poyesca</h3>
                    <p class="precio">$150 MXN</p>
                    <button class="btn-card">Añadir al Carrito</button>
                </div>

                <div class="tarjeta-carrusel">
                    <img src="funda pa baño xd.jpeg" alt="llaverito super poyo">
                    <h3> Bañitopoyito</h3>
                    <p class="precio">$70 MXN</p>
                    <button class="btn-card">Añadir al Carrito</button>
                </div>

                <div class="tarjeta-carrusel">
                    <img src="poyo control.jpeg" alt="bolsita poyesca">
                    <h3>Poyo Control</h3>
                    <p class="precio">$300 MXN</p>
                    <button class="btn-card">Añadir al Carrito</button>

            </div>

            <div class="tarjeta-carrusel">
                    <img src="soporte cargador.jpeg" alt="bolsita poyesca">
                    <h3>Soporte cargador</h3>
                    <p class="precio">$300 MXN</p>
                    <button class="btn-card">Añadir al Carrito</button>


        </div>
    </section>
    
</body>
</html>